<%- include('../partials/header') %>

    <!-- header end -->
    <div class="slider-area">
        <div class="slider-active owl-carousel">
            <div class="single-slider single-slider-book1 bg-img" style="background-image: url(/img/slider/3.png)">
                <div class="container">
                    <div class="slider-animation slider-content-book fadeinup-animated">
                        <h1 class="animated"><span>Welcome</span> to</h1>
                        <h2 class="animated">Adazal</h2>
                        <p class="animated">Where you can buy stuff!
                        </p>
                        <a href="/category/Dresses">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="single-slider single-slider-book1 bg-img" style="background-image: url(/img/slider/4.jpg)">
                <div class="container">
                    <div class="slider-animation slider-content-book fadeinup-animated">
                        <h1 class="animated"><span>Welcome</span> to</h1>
                        <h2 class="animated">Adazal</h2>
                        <p class="animated">Where you can buy stuff!
                        </p>
                        <a href="/category/Shoes">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner area start -->
    <div class="banner-area pt-120 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="book-banner-wrapper mr-20">
                        <img src="/img/banner/13.jpg" alt="">
                        <div class="banner-book-style1"><br><br><br><br><br><br>    
                            <br><br><br><br><a class="banner-book-style-btn" href="/category/Hoodies">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="book-banner-wrapper ml-20">
                        <img src="/img/banner/Dress_sale.jpg" alt="">
                        <div class="banner-book-style2 text-center"><br><br><br><br><br><br><br>
                            <br><br><br><br><a class="banner-book-style-btn" href="/category/Dresses">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner area end -->
    <!-- best product area start -->
    <div class="best-product-area pb-15">
        <div class="pl-100 pr-100">
            <div class="container-fluid">
                <div class="section-title-3 text-center mb-40">
                    <h2>Best Products</h2>
                </div>
                <div class="best-product-style">
                    <div class="product-tab-list2 text-center mb-95 nav product-menu-mrg" role="tablist">
                        <a class="active" href="#home6" data-toggle="tab" role="tab">
                            <h4>Women's fashion</h4>
                        </a>
                        <a href="#home7" data-toggle="tab" role="tab">
                            <h4>Men's fashion </h4>
                        </a>
                        <a href="#home8" data-toggle="tab" role="tab">
                            <h4>Kid's fashion</h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active show fade" id="home6" role="tabpanel">
                            <div class="custom-row">
                                <% womenCategoriesProducts.forEach((product)=> { %>
                                    <div class="custom-col-5 custom-col-style mb-95">
                                        <div class="product-wrapper">
                                            <div class="product-img-2">
                                                <a href="#">
                                                    <img src="/uploads/<%= product.image %>" alt="<%= product.name %>" height="320px" width="350px">
                                                </a>
                                                <div class="product-action-2">
                                                    <!-- Modify this line -->
                                                    <a class="animate-left add-style-2" title="Add To Cart" href="#" onclick="addToCart(event)" data-id="<%= product._id %>">Add
                                                        to Cart <i class="ti-shopping-cart"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="product-content-2 text-center">
                                                <h4><a href="/product-details/<%= product._id %>">
                                                        <%= product.name %>
                                                    </a></h4>
                                                <span>$<%= product.price %></span>
                                            </div>
                                        </div>
                                    </div>
                                    <% }); %>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="home7" role="tabpanel">
                            <div class="custom-row">
                                <% menCategoriesProducts.forEach((product)=> { %>
                                    <div class="custom-col-5 custom-col-style mb-95">
                                        <div class="product-wrapper">
                                            <div class="product-img-2">
                                                <a href="#">
                                                    <img src="/uploads/<%= product.image %>" alt="<%= product.name %>" height="320px" width="350px">
                                                </a>
                                                <div class="product-action-2">
                                                    <a class="animate-left add-style-2" title="Add To Cart" href="#">Add
                                                        to Cart <i class="ti-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content-2 text-center">
                                                <h4><a href="/product-details/<%= product._id %>">
                                                        <%= product.name %>
                                                    </a></h4>
                                                <span>$<%= product.price %></span>
                                            </div>
                                        </div>
                                    </div>
                                    <% }); %>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="home8" role="tabpanel">
                            <div class="custom-row">
                                <% kidsCategoriesProducts.forEach((product)=> { %>
                                    <div class="custom-col-5 custom-col-style mb-95">
                                        <div class="product-wrapper">
                                            <div class="product-img-2">
                                                <a href="#">
                                                    <img src="/uploads/<%= product.image %>" alt="<%= product.name %>" height="320px" width="350px">
                                                </a>
                                                <div class="product-action-2">
                                                    <a class="animate-left add-style-2" title="Add To Cart" href="#">Add
                                                        to Cart <i class="ti-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                            <div class="product-content-2 text-center">
                                                <h4><a href="/product-details/<%= product._id %>">
                                                        <%= product.name %>
                                                    </a></h4>
                                                <span>$<%= product.price %></span>
                                            </div>
                                        </div>
                                    </div>
                                    <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>